<hr class="slim">
<div class="slim-text center-align">Comments</div>
<div ng-if="CommentsCtrl.show" class="container critique-comments">

    <div ng-repeat="comment in comments" class="row valign-wrapper collection" style="margin-bottom:5px;">
      <div class="col" style="padding-right:0px">
        <user-chip user-id="comment.user.id"></user-chip>
      </div>
      <div class="col" style="padding-left:0px">
        <div class="valign left-align" >{{comment.body}}</div>
      </div>
    </div>

</div>
