
  <div class="centered" style="margin:15%;">
    <h2>What would <strong>you</strong> like to do today?</h2>
    <div class="medium-link"><%= link_to "Get help from Critics", new_mix_path %></div>
    <div class="medium-link"><%= link_to "Be the Critic", mixes_path %></div>
    <div class="medium-link"><%= link_to "Dashboard", "#" %></div>
  </div>
