<div id="new-mix-form" ng-if="NewMixCtrl.show">
    <form enctype="multipart/form-data" action="/mixes" accept-charset="UTF-8" method="post" class="ng-pristine ng-valid"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="O79iahtTo5uyUui4hE3+N0LCAb/g7MQg2hKHEP7e1o+WcSTgR7lzVc6kMV4yd+FiwHD3j47bfhzr86P07fzQ5w==">


             <div class="row">
                <div class="input-field col s8">
                    <input size="97" type="text" name="newMix.title" ng-model="mix_title">
                    <label for="title" class="">Mix Title</label>
                </div>

                <div class="input-field col s4">
                  <select name="newMix.genre_id" id="mix_genre_id">
                    <option ng-repeat="genre in genres" value="genre.id">{{genre.name}}</option>
                  </select>
                  <label for="genre_id">Genre:</label>
                </div>

            </div>

            <div class="row">
                <div class="input-field col s12">
                    <textarea cols="100" rows="10" class="materialize-textarea" name="description" ng-model="newMix.description"></textarea>
                    <label for="description" class="">Mix Description</label>
                </div>
            </div>


        <div class="row">
            <div class="col s12">
                <div class="file-field input-field">
                  <div class="btn">
                    <span>File</span>
                    <input type="file" name="mix_submission[mix_file]" ng-model="mix_file"><br>
                  </div>
                  <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                  </div>
                </div>
            </div>
        </div>

        <input type="submit" name="commit" value="Submit Mix" class="btn">
        <div class="hidden" id="new-mix-progress-bar">
          <div class="progress">
            <div class="indeterminate"></div>
          </div>
        </div>

</form>  </div>
