<img ng-src="{{user.image_paths.medium}}" />
<h1>{{user.available_name}}</h1>
<h4>{{user.title}}</h4>
<p>{{user.bio}}</p>
<div id="location" ng-if="showLocation()">{{user.city}}, {{user.country}}</div>
<br />

<div class="row">

  <div class="col s6">
    <div class="collection">
      <div class="collection-item blue-grey lighten-5">
        <h5>Recent Critiques</h5>
      </div>
      <div class="collection-item">
        <div dir-paginate="critId in critiqueIds | itemsPerPage: 3" pagination-id="critiques">
          <standalone-critique-display critiqueid="critId"></standalone-critique-display>
        </div>
        <dir-pagination-controls pagination-id="critiques" template-url="site/pagination_tpl.html"></dir-pagination-controls>
      </div>
    </div>
  </div>

  <div class="col s6">
    <div class="collection">
      <div class="collection-item blue-grey lighten-5">
        <h5>Recent Mixes</h5>
      </div>
      <div class="collection-item">
        <div dir-paginate="mixId in mixIds | itemsPerPage: 3" pagination-id="mixes">
          <mix-preview-by-id mixid="mixId"></mix-preview-by-id>
        </div>
        <dir-pagination-controls pagination-id="mixes" template-url="site/pagination_tpl.html"></dir-pagination-controls>
      </div>
    </div>
  </div>
</div>
