
.mix-preview-outer {
  margin: 2em 1em 2em 1em; //Top right bottom left

}

.mix-preview-chip {
  margin-bottom: -20px;
}

.mix-preview-secondary-row {
  position: relative;
}

.mix-preview-info {
  position: absolute;
  bottom: 0;
  right: 0;
}

.mix-preview-expandable-section {
  padding-left: 11px;
}

.revision {
  @extend .semi-pillowed
}

.critiques {
  padding-bottom: 10px;
}

.critique {
  @extend .center-block;
  @extend .card;

}

.critique-header {
  @extend .card-title;
}

.critique-subheader {


}

.critique-body {
  @extend .card-content;
}

.subsection {
  margin:2em;
}
